body {
    font-family: 'Poppins', sans-serif;
}

li {
    list-style: none;
    margin-left: 30px;
}

@media (min-width: 320px) {
    /*Body*/
    #edicaoMobile{
        margin: -54px;
    }

    /*H1*/
    #textoFooter{
        margin-left: 80px;
        margin-bottom: 70px;
        margin-top: 57px;
    }
    #textoFood {
        font-weight: 700;
        color: red;
        font-size: 16px;
        padding-left: 112px;
        margin-top: -56px;
    }
    #textoKenzie {
        font-weight: 700;
    }
    /*Input pesquisar*/
    #blocoInputMobile{
        margin-top: -45px;
        margin-left: 40px;
    }
    #inputMobile{
        border-radius: 6px;
        font-family: 'Poppins';
        width: 230px;
        height: 39px;
        padding-left: 46px;
        margin-left: 35px;
    }
    #botaoPesquisarMobile{
        margin: -5px -270px;
    }
    /*Botoes de pesquisar*/
    #blocoBotoesHome{
        display: flex;
        flex-direction: row;
        margin-left: 4px;
    }
    #ulItens{
        display: flex;
    }

    }
   

    
