/*MODAL CLIENTE NÃO CADASTRADO*/

.backGroundModal{
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,.5);
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 2000;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.containerModal{
  background-color: #FF2253;
  width: 70vh;
  height: 50vh;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.btnFecharModal, .btn--fecharLogin{
  font-size: 1.2em;
  width: 40px;
  height: 40px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  border-radius: 50%;
  background-color: #9E1517;
  color: white;
  cursor: pointer;
  box-shadow: 0 4px 4px 0 rgba(0,0,0,.3);
  position: absolute;
  top: -20px;
  right: -15px;
}

.modalTitulo{
  width: 60%;
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
  font-weight: 700;
  color: white;
  margin-bottom: 20px;
  margin-top: 20px;
  text-align: center;
}

.secaoLogin{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 30px;
}

.container__logar{
  display: flex;
  flex-direction: column;
  margin-top: 30px;
  align-items: center;
}

.formularioLogin{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 25px;
}

.inputs{
  width: 50vh;
  height: 42px;
  border-radius: 3px;
  border: none;
  padding-left: 10px;
}

.textoCadastrar{
  font-family: 'Montserrat', sans-serif;
  color: white;
}

.btnLoginModal{
  width: 20vh;
  height: 6vh;
  background-color: #5f0f40;
  border-radius: 5px;
  color: white;
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
  font-weight: 600;
  margin-top: 10px;
  cursor: pointer;
}

/*EDIÇÃO DE PROTUDO/ CADASTRO*/

.modalCadastroProduto{
  width: 71vh;
  height: 90vh;
  background-color: #FFFFFF;
}

.headerModalCadastroProduto{
  display: flex;
  height: 8vh;
  justify-content: space-between;
  background-color: #F8F9FA;
  font-family: 'Poppins', sans-serif;
}

.tituloCadastroProduto{
  font-size: 2vh 500;
  margin-left: 3.5vh;
  line-height: 2.8vh;
}

.btnFecharCadasto{
  width: 4.5vh;
  height: 4.2vh;
  background-color: #E9ECEF;
  border: none;
  border-radius: 5px;
  color: #868E96;
  font-size: 14px;
  margin-top: 12px;
  margin-right: 25px;
  cursor: pointer;
}
.formularioCadastroProduto{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 4vh;
}

.containerCategoria{
  display: flex;
  flex-direction: column;
  justify-content: left;
  margin-bottom: 4.7vh;
}

.categoriaTitulo{
  font-family: 'Poppins', sans-serif;
  font-size: 14px;
  color: #212529;
  text-align: left;
  margin-bottom: 4px;
}

.categoria{
  padding-left: 10px;
  width: 60vh;
  height: 6vh;
  background-color: #F8F9FA;
  color: #868E96;
  border-radius: 12px;
  border: 1.5px solid;
  border-color: #DEE2E6;
}

.descricao{
  height: 11vh;
}

.categoriaBtn{
  width: 60vh;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.btnCategoria{
  width: 135px;
  height: 40px;
  background-color: #DEE2E6;
  color: #868E96;
  border-radius: 32px;
  border: none;
  cursor: pointer;
}

.categoriaClicada{
  width: 135px;
  height: 40px;
  background-color: #DEE2E6;
  color: #FF2253;
  border-radius: 32px;
  border: none;
  cursor: pointer;
}

.btnCadastrar{
  font-family: 'Poppins', sans-serif;
  font-size: 17px;
  width: 60vh;
  height: 7vh;
  background-color: #FF2253;
  color: white;
  border-radius: 32px;
  border: none;
  cursor: pointer;
}

.btnSalvar, .btnExcluir{
  font-family: 'Poppins', sans-serif;
  font-size: 17px;
  width: 34vh;
  height: 7vh;
  background-color: #F8F9FA;
  color: #868E96;
  border-radius: 32px;
  border: 1.5px solid;
  border-color: #F8F9FA;
  cursor: pointer;
}

.btnSubmitClicado{
  font-family: 'Poppins', sans-serif;
  font-size: 17px;
  width: 34vh;
  height: 7vh;
  background-color: #FF2253;
  color: white;
  border-radius: 32px;
  cursor: pointer;
}

/*MODAL EXCLUIR PRODUTO*/

.backGroundModalExcluir{
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,.5);
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  text-align: center;
}

.modalExclusaoProduto{
  margin-top: 8vh;
  width: 71vh;
  height: 30vh;
  background-color: white;
  font-family: 'Poppins', sans-serif;
  border-radius: 8px
}

.headerModalExclusaoProduto{
  height: 8vh;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #F8F9FA;
  border-radius: 8px 8px 0 0;
}

.tituloCadastroProduto{
  font-size: 14px;
  font-weight: 700;
}

.textoExclusao{
  font-size: 16px;
  font-weight: 500;
  color: black;
  margin-top: 5vh;
  margin-bottom: 3vh;
}

.btnSimNaoClicado{
  width: 30vh;
  height: 7vh;
  border-radius: 30px;
  border: none;
  background-color: #FF2253;
  color: white;
  margin-left: 10px;
}

.btnSim, .btnNao{
  width: 30vh;
  height: 7vh;
  border-radius: 30px;
  border: none;
  background-color: #F8F9FA;
  color: #868E96;
  margin-left: 10px;
}

